/*global*/
:root{
        --primary: #ffcc00;
}

*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

img{
    max-width: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

/*utility*/

/*menu*/

nav.menu{
    height: 49px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 14pxs;
}

nav.menu img{
    height: 30px;
    padding-left: 20px;
}

nav .login{
    font-weight: 700;
    text-transform: bold;
}

nav .link-subs{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 17px;
    color:#fff;
    border-bottom: 1px solid white;
    box-shadow: inset 0 0 0 0 #fc0;
    transition: ease-out 0.3s;
}

nav .link-subs:hover{
    background-color: #fc0;
    color: black;
    box-shadow: inset 100px 0 0 0 #fc0;
}

.link-glass,.link-renew,.link-menu, .blogo{
    display: none;
}

.link-login{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.link-angels{
    color: black;
    text-decoration: none;
}

/*header*/

header{
    text-align: center;
    height: 230px;
}

header .line{
    background-color: #ffcc00;
    height: 4px;
    line-height: 0;
    margin: 21px auto 0;
    width: 30px;
}
header span{
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    
}

header span a{
    border-bottom: 2px solid #fc0;
    color: white;
    font-weight: 400;
    background-image:-o-linear-gradient(330deg,#fc0 0,#fc0 100%);
    background-image:linear-gradient(120deg,#fc0,#fc0);
    background-position:0 100%;
    background-repeat:no-repeat;
    background-size:100% 0;
    border-bottom:2px solid #fc0;
    text-decoration:none;
    -webkit-transition:background-size .125s ease-in;
    -o-transition:background-size .125s ease-in;
    transition:background-size .125s ease-in;
    color:#fff
}

header span a:hover{
    color: black;
    background-size:100% 100%;
    background-position: 0 100%;
}
